//客製
.mt-35 {
  margin-top: 35px;
}
//餐廳列表
.reslist-card {
  border-radius: 15px;
  border: 2px solid $light-green;
  overflow: hidden;
  height: 215px;
  position: relative;

  &:hover .res-foodImg {
    transform: scale(1.04);
  }

  .res-foodImg {
    width: 51%;
    object-fit: cover;
    transition: 0.7s;
    border-radius: 15px 0 0 15px;
  }

  .reslist-txt {
    // width: 185px;
    padding: 15px 0 0 30px;
    h3 {
      color: $dark-green;
      font-size: 22px;
      font-weight: 700;
    }
    p {
      font-size: 18px;
    }
    span {
      cursor: pointer;
      position: absolute;
      right: 10px;
    }
  }
  @include pad {
    .reslist-txt {
      padding: 5px 5px;
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        padding-bottom: 0;
      }
    }
  }
  @include mobile {
    margin: 20px;
    height: 170px;
    min-width: 300px;

    .reslist-txt {
      padding: 15px 8px 0 7px;
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        padding-bottom: 0;
      }
      span {
        cursor: pointer;
      }
    }
    .foodImg {
      width: 45%;
    }
  }
}

//人氣精選

.res-popular {
  position: relative;
  
  h3 {
    color: $dark-green;
    font-size: 24px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    margin-top: 2px;
  }
  span {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
  .res-popular-body {
    background-color: rgba(255, 182, 6, 0.2);
    padding: 10px 20px 10px;
    border-radius: 0 0 15px 15px;
    height: 170px;
  }
  
  @include mobile {
    margin: 10px 45px;
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    .res-popular-body {
      padding: 5px 20px 2px;
      height: 160px;
    }
  }
}

.res-pages {
  color: $dark-green;
  margin-right: 15px;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #729a51;
  }
}

.res-pages-active {
  color: $light-green;
  font-weight: bold;
}
