//banner
.res-banner {
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  width: 100%;
  max-height: 800px;
  .res-slogan {
    padding-top: 65px;
  }
  h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
    color: $light-orange;
    font-weight: 700;
  }

  h2 {
    text-align: center;
    font-size: 44px;
    color: $light-green;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 5px;
  }
  @include mobile {
    height: 60vh;
    h1 {
      font-size: 30px;
      padding-top: 90px;
    }
    h2 {
      font-size: 28px;
      padding-bottom: 3px;
    }
    .res-slogan {
      padding-top: 25px;
    }
  }
}

.map-search {
  position: relative;
  @include mobile {
    padding: 2px 20px;
  }
}

#resaddress {
  width: 40%;
  height: 55px;
  border-radius: 50px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: (
    0px 3px 3px rgba(0, 0, 0, 0.25),
    (0 0 0 1000px white inset)
  );
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  @include pad {
    width: 75%;
    font-size: 16px;
  }
  @include mobile {
    width: 94%;
    height: 45px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.spinnerRelative{
  position: relative;
}


#ressubmit {
  position: absolute;
  background-color: #8fc065;
  border-radius: 50px;
  margin-top: 15px;
  right: 31%;
  top: 7px;
  width: 100px;
  color: #fff;
  border: none;
  outline: none;
  padding: 7px 18px;
  @include pad {
    right: 14%;
    top: 8px;
  }
  @include mobile {
    width: 60px;
   height: 34px;
    right: 5%;
    top: 6px;
    svg{
      padding-bottom: 8px;
    }
  }
}
