@mixin sortBtn($color, $padding, $font-size) {
  border-radius: 50px;
  color: $color;
  font-size: $font-size;
  outline: none;
  letter-spacing: 3px;
  text-indent: 3px;
  border: 1px solid $color;
  width: 164px;
  height: 42px;
  padding: $padding;

  background: transparent;
  -webkit-appearance: none; //讓箭頭不見

  @include mobile {
    margin-bottom: 16px;
  }
}

//下拉選單

.map-select,
.map-seacrh {

  @include sortBtn($light-green, 5px 32px, 20px);
}

.orange-btn {
  @include sortBtn($light-orange, 2px, 20px);

  &:hover {
    background-color: #fb6007c0;
    color: white;
    cursor: pointer;
    // box-shadow: 8px 8px 0 0 #fb600769;
    // transition: 0.5s;
  }
  @include mobile {
    // width: 101%;
  }
}
