#scrollToTopBtn {
  background-color: $light-green;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  right: 15px;
  bottom: 50px;
}

#scrollToTopBtn:hover {
  box-shadow: 2px 10px 16px lightgrey;
  transform: translateY(-5px);
  transition: 0.3s;
}
