// 預設變數覆蓋需要在導入Bootstrap之前
$primary: #8FC065;
$secondary: #131010;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

/*------------------------------ 顏色、文字大小 ------------------------------*/
$dark-green: #2a593e;
$light-green: #8fc065;
$light-yellow: #ffb606;
$light-orange: #fb6107;


body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif,'Poppins','Yeseva One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-green {
  color: $light-green;
}
.dark-green {
  color: $dark-green;
}
.light-yellow {
  color: $light-yellow;
}
.light-orange {
  color: $light-orange;
}
//banner 標題
.bannerTitle {
  font-size: 60px;
  @media (max-width: 992px) {
    font-size: 30px;
  }
}

//banner 副標題
.bannerSubTitle {
  font-size: 44px;
  letter-spacing: 3px;
  @media (max-width: 992px) {
    font-size: 28px;
  }
}

//卡片 標題
.productTitle {
  font-size: 24px;
  letter-spacing: 3px;
  @media (max-width: 992px) {
    font-size: 20px;
  }
}

@mixin NOmobile {
  @media (max-width: 992px) {
    display: none;
  }
}



//標題間距
.ma-80 {
  margin: 80px auto;
}

//標題線

.titleBorder {
  width: 100%;
  border-bottom: 2px solid $dark-green;
  position: relative;
  margin: 0 auto;
  .title-fz {
    font-size: 32px;
    color: $dark-green;
  }
  .res-title {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0px 20px;
    font-weight: 700;
    letter-spacing: 3px;
    text-indent: 3px;
  }

  @include mobile {
    .res-title {
      top: -13px;
      padding: 0px 10px;
    }
    .title-fz {
      font-size: 24px;
    }
  }
}




