@media screen and (min-width: 576px) {
      .rotate-delivery{
        height: 60vh;
      }
      .rotate-delivery-img {
        height: 100%;
        // width: 100%;
      }
      .game-title-delivery{
        margin-top: 50px;
        width: 50%;
        margin-bottom: 40px;
      }
      .game-again-delivery,.game-leave-delivery {
      font-size: 24px;
      padding: 10px 80px;
      letter-spacing: 3px;
    }
    }
    @media screen and (max-width: 575.99px) {
      /* 手機版轉盤高度 */
      .rotate-delivery {
        height: 65vh;
        /* margin-left: 1px !important; */
      }
      .rotate-delivery-img{
        /* height: 75%; */
        width: 100%;
      }
      .rotate-delivery-fork{
        height: 90px;
      }
      .game-btn-wrap {
        flex-direction: column-reverse;
        align-items: center;
      }
      .game-title-delivery{
        margin-bottom:20px;
      }
      .game-title-delivery h1{
        font-size:30px;
      }
      .game-again-delivery,.game-leave-delivery {
      font-size: 20px;
      padding: 10px 80px;
      letter-spacing: 1px;
    }
    }
    body {
      height: 100vh;
    }
    .game-title-delivery {
      height: 80px;
      background-color: #8fc065;
      text-align: center;
      
    }
    .game-title-delivery h1 {
      line-height: 80px;
      font-weight: bold;
      color: white;
      letter-spacing: 3px;
    }
    .rotate-delivery {
      margin: auto;
      width: 80%;
      text-align: center;
    }
    .rotate-delivery-img {
      margin: auto;
      cursor: pointer;
    }
    .game-again-delivery {
      border-radius: 100px;
      text-align: center;
      background-color: #fb6107;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
    .game-leave-delivery {
      color: #8fc065;
      font-weight: bold;
      cursor: pointer;
      white-space: nowrap;
    }
    .game-again-delivery:hover,
    .game-leave-delivery:hover {
      color: #fff;
      background-color: #2a593e;
      border-radius: 50px;
    }
    .game-btn-wrap {
      justify-content: space-between;
      width: 80%;
      margin: auto;
      white-space: nowrap;
    }