// 手機板(375px)

@mixin mobile {
  @media (max-width: 380px) {
    @content;
  }
}


.confirmtitle {
  h1 {
    font-size: 32px;
    font-family: var(--Font-Family);
    color: var(--Second-color);
    font-weight: var(--Second-Font-Weight);
  }
  @include mobile()
  {}
}

.confirmnumber {
  h3 {
    font-family: var(--Font-Family);
    font-size: var(--Button-font-size);
    font-weight: var(--Second-Font-Weight);
    color: var(--Third-color);
  }
}

.confirm {
  .info {
    border-radius: 50px;
    border: 0.5px solid #2a593e;
    padding: var(--button-padding);
    background-color: #ffffff;
    color: var(--Third-color);
    font-weight: var(--Second-Font-Weight);
    font-size: var(--Button-font-size);
    font-weight: var(--Second-Font-Weight);
    font-family: var(--Font-Family);
  }
}


@include mobile()
{
    .confirmtitle h1, .confirmnumber h3{
        font-size: var(--Font-banner-size-mobile);
      }
    
    /* 結帳或返回商城 */
    .returninfo {
      font-size: var(--ConfirmReturn-button-font-size-mobile);
      padding: var(--bigbutton-padding-mobile);
      margin:20px auto;
    }
    .confirminfo {
      font-size: var(--ConfirmReturn-button-font-size-mobile);
      padding: var(--bigbutton-padding-mobile);
      margin:20px auto;
    }
}