// 手機板(375px)

@mixin mobile {
  @media (max-width: 380px) {
    @content;
  }
}

/* SHOPPING_CART */
// .bottom-line {
//   height: 1px;
//   border: 0.5px solid var(--Process-hide-color);
// }

.shoppingtitle {
  span {
    font-size: 44px;
    font-family: var(--Font-English-Family);
    font-weight: 900;
    color: var(--Third-color);
    letter-spacing: 0.1rem;
  }

  @include mobile() {
    text-align: center;

    span {
      font-size: 25px;
      text-align: center;
    }
  }
}

/* 訂單表格的標題、內文 */

.ordercheck {
  .orderlist {
    .table {
      table-layout: fixed;
      th {
        font-size: var(--Order-list-title-size);
        font-family: var(--Font-Family);
        color: var(--Third-color);
      }

      td {
        font-size: var(--Order-list-title-size);
        vertical-align: middle;
        font-family: var(--Font-Family);
        img {
          width: 100px;
          border-radius: 50%;
        }
      }

      .countIcon {
        font-size: var(--Order-list-title-size);
        color: var(--Primary-color);
        margin: 0 10px;
        cursor: pointer;
        transition: 0.5s;
      }
      .countIcon:hover {
        color: var(--Third-color);
        transition: 0.5s;
      }
      .trashIcon {
        color: var(--Second-color);
        font-size: 24px;
        cursor: pointer;
        transition: 0.5s;
      }
      .trashIcon:hover {
        color: #ffb606;
        transition: 0.5s;
      }
    }

    .tablemobile {
      display: none;
    }

    h4 {
      font-size: var(--Button-font-size);
      font-family: var(--Font-Family);
      color: var(--Third-color);
      font-weight: var(--Second-Font-Weight);
      margin: 40px 0px;
    }
    .bottomline {
      // height: 1px;
      border: 1px solid #000000;
      margin: 20px 10px;
    }
  }

  @include mobile() {
    display: block;

    .orderlist {
      .table {
        display: none;
      }

      .tablemobile {
        display: block;
        font-size: var(--Font-table-content-size-mobile);
        // text-align: center;
        font-family: var(--Font-Family);

        img {
          width: 80px;
          border-radius: 50px;
        }

        td {
          padding: 10px 0px;
        }

        .countIcon {
          font-size: var(--Order-list-title-size);
          color: var(--Primary-color);
          margin: 0 10px;
        }

        .bottomline {
          height: 1px;
          border: 0.5px solid #000000;
          margin: 20px auto;
        }
      }
    }
  }
}

/* 你可能也會喜歡 */
.likemore {
  margin-bottom: 150px;
  h4 {
    font-size: var(--Button-font-size);
    font-family: var(--Font-Family);
    color: var(--Third-color);
    font-weight: var(--Second-Font-Weight);
    margin: 40px 0px;
  }
  .bottomline {
    // height: 1px;
    border: 1px solid #000000;
    // margin: 20px 10px;
  }
}
.storelike {
  .storecard {
    transition: 0.3s;
    .storeproduct {
      margin-right: 15px;
      cursor: pointer;
      .storeicon {
        margin: 10px;
        display: flex;
        padding-left: 60px !important;
        justify-content: space-evenly;
        align-items: center;
        .cartlike {
          font-size: 40px;
          color: #8fc065;
          margin: 0 10px;
        }
        .full {
          color: #d96e30;
          font-size: 30px;
          margin-top: 3px;
          display: none;
        }
      }
      .body {
        // background: var(--Primary-color);
        background-color: #ffb91759;

        // box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
      }
      img {
        top: 0%;
        left: 0%;
      }
      p {
        color: #2a593e;
        font-size: var(--Order-list-title-size);
        font-family: var(--Font-Family);
        margin: 5px;
        padding-left: 10px;
      }
    }
    &:hover {
      transform: translate(0px, -5px);
    }
    img {
      width: 120px;
      top: 10%;
      left: -20%;
      border-radius: 50%;
    }
  }
}

.storelikemobile {
  display: none;
}

.fa-angle-double-right {
  font-size: 50px;
  color: var(--Third-color);
}

.fullheart {
  display: none;
}

.morecard {
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;

  h1 {
    color: var(--Third-color);
    font-weight: var(--Second-Font-Weight);
    font-family: var(--Font-English-Family);
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .DoubleRight {
    font-size: 24px;
    color: var(--Third-color);
    margin-right: 10px;
  }
}

@include mobile() {
  .storelike {
    display: block;
  }

  //做到這邊

  .storelikemobile {
    display: block;
    margin: 0;

    .storecardmobile {
      img {
        position: absolute;
        z-index: 1;
        width: 70px;
        top: 10%;
        left: -5%;
      }

      .storeproductmobile {
        .body {
          width: 250px;
          height: 80px;
          background: var(--Primary-color);
          box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
          border-radius: 15px;

          .storeiconmobile {
            .heart,
            .cartlike {
              font-size: 30px;
              color: #ffffff;
              margin: 0 5px;
            }
          }
        }

        p {
          color: #ffffff;
          font-family: var(--Font-Family);
          margin: 0;
        }
      }
    }
  }

  .morecard {
    text-align: center;
  }
  .morecardmobile h1 {
    color: var(--Third-color);
    font-weight: var(--Second-Font-Weight);
    font-family: var(--Font-English-Family);
    font-size: var(--Button-font-size);
    text-align: center;
    text-decoration: underline;
  }
}

/* 訂單簡易資訊 */
.Modal {
  font-family: var(--Font-Family);
  border-radius: 20px;
  .ModalTitle {
    font-size: var(--Orderinfo-list-title-size);
    color: var(--Third-color);
    font-weight: var(--Second-Font-Weight);
  }
  .ModalBody {
    font-size: var(--Order-button-size-mobile);
  }
  .ModalFooter {
    font-size: var(--Order-button-size-mobile);
    .ButtonClose {
      padding: var(--button-padding);
      color: var(--Third-color);
      border: 0.5px solid var(--Third-color);
      border-radius: 50px;
    }
    .ButtonClose:hover {
      padding: var(--button-padding);
      background-color: var(--Primary-color);
      color: #ffffff;
      border: transparent;
      border-radius: 50px;
    }
    .ButtonLogin {
      padding: var(--button-padding);
      color: var(--Third-color);
      border: 0.5px solid var(--Third-color);
      border-radius: 50px;
    }
    .ButtonLogin:hover {
      padding: var(--button-padding);
      background-color: var(--Second-color);
      color: #ffffff;
      border: transparent;
      border-radius: 50px;
    }
  }
}

.orderinfolist {
  h4 {
    text-align: center;
  }

  .table {
    font-size: var(--Orderinfo-list-font-size);
    font-family: var(--Font-Family);
    color: var(--Third-color);

    th {
      font-weight: var(--Second-Font-Weight);
    }

    td {
      text-align: end;
    }
  }
  h4 {
    font-size: var(--Orderinfo-list-title-size);
    font-family: var(--Font-Family);
    font-weight: var(--Second-Font-Weight);
    color: var(--Third-color);
  }

  .promotion {
    input {
      width: 50%;
      padding: 3px 3px 3px 10px;
      border: 1px solid #8fc065;
      border-radius: 50px;
      &:focus {
        outline: none;
      }
    }

    button {
      font-size: var(--Order-list-content-size);
      font-family: var(--Font-Family);
      padding: var(--button-padding);
      border-radius: 50px;
      background-color: var(--Primary-color);
      color: #ffffff;
      border: transparent;
      transition: 0.5s;
    }
    button:hover {
      font-size: var(--Order-list-content-size);
      font-family: var(--Font-Family);
      padding: var(--button-padding);
      border-radius: 50px;
      background-color: var(--Third-color);
      color: #ffffff;
      border: transparent;
      transition: 0.5s;
    }
  }

  @include mobile() {
    .table {
      font-size: var(--Orderinfo-list-font-size-mobile);
    }

    h4 {
      display: none;
    }
  }
}

/* 結帳與返回按鈕 */

.orderconfirm {
  font-size: var(--Order-list-title-size);
  font-family: var(--Font-Family);
  padding: var(--button-padding);
  border-radius: 100px;
  background-color: var(--Second-color);
  color: white;
  font-weight: var(--Second-Font-Weight);
  border: transparent;
  transition: 0.5s;
}

.orderconfirm:hover {
  background-color: #ffb606;
  // border: 1px solid var(--Third-color);
  color: #ffffff;
  border: transparent;
  transition: 0.5s;
}

.returnstore {
  font-size: var(--Order-list-title-size);
  font-family: var(--Font-Family);
  padding: var(--button-padding);
  border-radius: 50px;
  background-color: var(--Primary-color);
  color: #ffffff;
  font-weight: var(--Second-Font-Weight);
  border: transparent;
  transition: 0.5s;
}

.returnstore:hover {
  background-color: var(--Third-color);
  // border: 1px solid var(--Third-color);
  color: #ffffff;
  border: transparent;
  transition: 0.5s;
}

@include mobile() {
  .orderconfirm {
    font-size: var(--Order-button-size-mobile);
    padding: var(--button-padding);
  }
  .returnstore {
    font-size: var(--Order-button-size-mobile);
    padding: var(--button-padding);
  }
} ;
